1.5.1/1.5.0/src/de/latlon/deejump/plugin/manager/extensioncatalog.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Extension (Description, ResourceList)>
<!ATTLIST Extension
	name CDATA #REQUIRED
	title CDATA #REQUIRED
	author (UT | reso) #REQUIRED
	version CDATA #REQUIRED
	jumpVersion CDATA #REQUIRED
	category CDATA #REQUIRED
>
<!ELEMENT OpenJUMPExtensionCatalog (Extension+)>
<!ELEMENT Resource EMPTY>
<!ATTLIST Resource 
	value CDATA #REQUIRED
>
<!ELEMENT ResourceList (Resource+)>
